body {
  margin: 0;
  font-family: Verdana;
  padding: 30px 0;
  background: #e2e2e2;
  color: #fff;
}

h1 {
  font-size: 30px;
  font-family: "Arial Black";
  color: #a0d8f3;
}

h2 {
  font-size: 20px;
  padding-bottom: 20px;
}

.result-title {
  padding-bottom: 0;
}

article {
  background: #313536;
  padding: 20px 40px 100px;
  border-radius: 4px;
  max-width: 500px;
  min-height: 470px;
  margin: 0 auto;
}

ol {
  list-style-type: upper-latin;
  counter-reset: li;
  list-style: none;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

ol a {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0 0 20px;
  background: #dad2ca;
  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  transition: 0.3s ease-out;
  cursor: pointer;
}

ol a:hover {
  background: #e9e4e0;
}
ol a:hover::before {
  transform: rotate(360deg);
}
ol a::before {
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #dad2ca;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}

li:nth-of-type(1) a::before {
  content: "A";
}
li:nth-of-type(2) a::before {
  content: "B";
}
li:nth-of-type(3) a::before {
  content: "C";
}

.answer,
.btn {
  display: none;
}

.answer {
  font-weight: bold;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.disabled {
  pointer-events: none;
}

.correct {
  color: #aadd77;
}
.incorrect {
  color: #f49a74;
}
.green a::before {
  background: #aadd77;
}
.red a::before {
  background: #f49a74;
}

.btn {
  user-select: none;
  outline: none;
  border: none;
  cursor: pointer;
  background: #a0d8f3;
  padding: 15px 30px;
  border-radius: 4px;
  margin-top: 40px;
  font-size: 18px;
  color: #313536;
}

.btn:hover {
  background: #89cff0;
  transition: ease-in .2s;
}

.last-slide p {
  line-height: 1.5;
}

.num-result {
  font-size: 22px;
  font-weight: bold;
  color: #f49a74;
}

#summary span {
  font-weight: bold;
  color: #89cff0;
}